// Specific CSS for your home-page
.flex-container {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #f4a261;
  text-decoration: none;
}

h1  {
  color: white;
}

.banner-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}
