<div class="container justify-content-center col-sm-4">
    <%= simple_form_for [ @product, @rental ] do |f| %>
    <%= f.input :begin_date, label: 'Data de início', as: :date, html5: true %>
    <%= f.input :end_date, label: 'Data de termino', as: :date, html5: true %>
    <%= f.submit "Alugar", class: "btn btn-primary" %>
    <% end %>
</div>
