<div class="container justify-content-center col-sm-4">
    <%= simple_form_for [ @product, @rental ] do |f| %>
    <%= f.input :begin_date, label: 'Data de início' %>
    <%= f.input :end_date, label: 'Data de termino' %>
    <%= f.submit "Submit rental", class: "btn btn-primary" %>
    <% end %>
</div>
