<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <div class="col-sm-4 pl-0">
      <h1>Proposition <strong>value</strong></h1>
      <p>Pratique um novo esporte todos os dias. Encontre qualquer equipamento perto de você.</p>
    </div>
    <div>
      <a class="btn btn-info" href="#">Explore a Região</a>
    </div>
  </div>
</div>
