<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <div class="col-sm-4 pl-0">
      <h1>Proposition <strong>value</strong></h1>
      <p>Pratique um novo esporte todos os dias. Encontre qualquer equipamento perto de você.</p>
    </div>
    <div>
      <a class="btn btn-info" href="#">Explore a Região</a>
    </div>
  </div>
</div>
<div class="flex-container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1525289792728-f43da278fcd6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80)">
  <%= link_to "Busque seu equipamento", products_path %>
  </div>
  <% if @user == current_user %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1569074187119-c87815b476da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80)">
  <%= link_to "Abra sua conta", new_user_registration_path %>
  </div>
  <% else %>
  <% end %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
  <% if @user == current_user %>
  <%= link_to "Alugue seu equipamento", new_user_session_path %>
  <% else %>
  <%= link_to "Alugue seu equipamento", new_product_path %>
  <% end %>
  </div>
</div>
