.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #f4a261;
  padding: 3px 20px;
  margin: 3px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
