.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.card-product {
  overflow: hidden;
  height: 100px;
  width: 330px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin: 10px 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product a {
  color: black;
}

.card-product:hover {
  box-shadow: 0 4px 8px 0 #f4a261;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
