.footer {
  background: #f4a261;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: lighter;
  padding: 0px 75px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
