// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

.products-container {
  display: flex;
  margin: 20px;
}

.map {
  background-color: grey;
  justify-content: center;
  height: 430px;
  margin: 0px;
}

.map h2 {
  text-align: center;
  color: black;
}

.form-container {
  padding: 30px;
}

.img-product {
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.description-container {
  font-size: 14px;
  line-height: 1;
}

.box-product {
  border-radius: 10px;
}

.review-container {
  margin-top: 20px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
