// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.products-container {
  display: flex;
  margin: 20px;
}

.map {
  background-color: grey;
  justify-content: center;
  height: 430px;
  margin: 0px;
}

.map h2 {
  text-align: center;
  color: black;
}

.form-container {
  padding: 30px;
}

.img-product {
  height: 300px;
  width: 300px;
}
