<div class="container justify-content-center col-sm-6">
  <div class="form-container">

    <h1>Cadastrar novo equipamento</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Voltar', products_path, class: "btn btn-ghost" %>
  </div>
</div>
